
body{
    margin: 0;
    height: 100vh;
}


a {
    text-decoration: none;
    color:white;
}

header{
    display:flex;
    position:fixed;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    transition: 0.7s ;
    z-index: 10;
    background: rgba(5, 7, 12, 0.20);
}


.logo{
    display: flex;
    align-items: center;
}

.logo img{
    height: 70px;
    margin-right: 3px;
}

.logo-nombre{
    color:white;

}

nav a{
    font-weight: 700;
    padding-right: 40px;
}

nav a:hover{
    color: rgb(255, 126, 126);

}

@media (max-width:700px){
    header{
        flex-direction: column;
    }

    nav{
        padding: 10px 0px;
    }
}


.slider{
    /* border: 1px solid red; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
}

.slider_container{
    display: block;
    overflow: hidden;
    scroll-behavior: smooth;
    white-space: nowrap;
}


.img {
    /* border: 1px solid yellow; */
    margin: 0;
    display: inline-block;
    width: 100%;
    height: 100%;
    object-fit: cover;   
}

.slider_bullet_list {
    text-align: center;
    margin-top: 16px;
    margin-bottom: 16px;  
    position: absolute;
    bottom: 10px;
}

.slider_bullet{
    display: inline-block;
    inline-size: 15px;
    block-size: 15px;
    background-color: rgba(0, 0, 0);
    border-radius: 50%;

}

.slider_bullet:hover {
    background-color: rgba(41, 41, 41, 0.171);
  }

h1{
   display: inline-block;
   width: 100%;
   height: auto;
   margin:5px, 0,0, 0;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}
 



.menu{
    width: 100%;
    display: flex;
    background-image: url(../images/flower.png);
    background-repeat: repeat;
    background-position: center;
    flex-flow: wrap;
    justify-content: space-around;
}

.food img{
    font-size:20px;
    /* border: 1px solid #000; */
    margin: 1rem;
    width:300px;
    height:350px;
  }

.dishes{
    width: 100%;
    display: flex;
    flex-flow: wrap;
    background-image: url(../images/chinese.png);
    background-repeat: repeat;
    background-position: center;
    justify-content:space-around;
  
}

.video_section{
    display: flex;
    flex-wrap: nowrap;
}

.restaurant{
    width: 50%;
    height: auto;
}

.video {
    margin: 0;
    /* border: 3px solid blue; */
    display: inline-block;
    width: 50%;
    height: auto;
    aspect-ratio:  16/9;
  }


footer {
    background-color: #4d4c4c;
    height: 174px;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
.brand {
    color: rgba(255, 255, 255, 1);
    font-size: 32px;
  }

.email a{
    color: #eee;
}

.email a:hover {
color:purple;
}

.email a:visited {
    color: blue;
  }

.social-media img{
    height: 24px;
    width: 24px;
    margin: 5px;
}

